{% extends 'main/layout.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block info%}
<p class="homePageText">Главная страница</p>
{% endblock %}


{% block body%}
  <!--  <li>aaaa</li><li>bbbb</li> -->
<div class="features">
    <h1>{{ title }}</h1>
    <p>Alkf fkdlfjkdf dfkjfdkdlsl fojdksfd fjdkkdl jfkdfjr fieor  grertre fredf ertgvc ertgfd erfd ertvc w qsd tyyf rtytd  rt  reert res</p>
    <button class="btn btn-warning">On page about</button>

    {% for el in values %}
       {% if el == 'Second' %}
          {% filter upper %}
             <p>{{ el }}</p>
          {% endfilter %}
          <!-- или просто {{ el|upper}} -->
       {% endif %}
    {% endfor %}

    {% for el in obj %}
          <p>{{ el }}</p>
    {% endfor %}
</div>

{% include 'main/test.html' %}

{% endblock %}