{% extends 'main/layout.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block info%}
<p class="homePageText">Главная страница</p>
{% endblock %}


{% block body%}
  <!--  <li>aaaa</li><li>bbbb</li> -->
<div class="features">
    <div class="hello_text">
        <a style="font-weight: 500; font-size: xx-large">{{ title }}, {{user.username}}!</a>
        <a style="font-weight: 300; font-size: large">{{ week_day }}, {{ current_date }}</a>
    </div>

    <div class="workspace">
        <div class="user_tasks">

        </div>
        <div class="user_projects">

        </div>
    </div>




    {% for el in values %}
       {% if el == 'Second' %}
          {% filter upper %}
             <p>{{ el }}</p>
          {% endfilter %}
          <!-- или просто {{ el|upper}} -->
       {% endif %}
    {% endfor %}

    {% for el in obj %}
          <p>{{ el }}</p>
    {% endfor %}
</div>

{% include 'main/test.html' %}

{% endblock %}