{% extends 'main/layout.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block info%}
<p class="homePageText">Главная страница</p>
{% endblock %}


{% block body%}
<!--  <li>aaaa</li><li>bbbb</li> -->
<div class="features">
    <div class="hello_text">
        <a style="font-weight: 500; font-size: xx-large">{{ title }}, {{user.username}}!</a>
        <a style="font-weight: 300; font-size: large">{{ week_day }}, {{ current_date }}</a>
    </div>

    <div class="workspace">
        <div class="user_tasks">
            <div class="workspace_header">
                <div class="tasks_header_text">
                    <i class="fa-solid fa-list-check fa-2xl"></i>
                    <h2 style="margin-left: 4px; margin-top: 4px">Мои задачи</h2>
                </div>
              <!--  <ul class="hr">
                    <li>Актуальные</li>
                    <li>Просроченные</li>
                    <li>Закрытые</li>
                </ul> -->
            </div>
            <div class="tasks_container">
                {% for el in tasks %}
                <div class="task_element">
                    <span style="color: #808080"><i class="fa-regular fa-circle-check fa-2xl"></i></span>
                    <h class="task_name">{{el.name}}</h>
                    {% if el.deadline.date == current_date %}
                    <h style="color: #65ab5b" class="task_deadline">Сегодня</h>
                    {% elif el.deadline.date == tomorrow %}
                    <h style="color: #65ab5b" class="task_deadline">Завтра</h>
                    {% elif el.deadline.date == yesterday %}
                    <h style="color: indianred" class="task_deadline">Вчера</h>
                    {% elif el.deadline.date < yesterday %}
                    <h style="color: indianred" class="task_deadline">{{el.deadline.date}}</h>
                    {% else %}
                    <h class="task_deadline">{{el.deadline.date}}</h>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="user_projects">
            <div class="workspace_header">
                <h2>Мои проекты</h2>
            </div>
            <div class="projects_container">
                {% for el in projects %}
                <div class="project_element">
                    <div class="progress_bar_container">
                        <i class="fa-solid fa-bars-progress fa-2x"></i>
                    </div>
                    <h>{{el.name}}</h>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




    {% for el in values %}
    {% if el == 'Second' %}
    {% filter upper %}
    <p>{{ el }}</p>
    {% endfilter %}
    <!-- или просто {{ el|upper}} -->
    {% endif %}
    {% endfor %}

    {% for el in obj %}
    <p>{{ el }}</p>
    {% endfor %}
</div>

{% include 'main/test.html' %}

{% endblock %}