.unsignedUser{
    margin: 5rem;
}
body{
    background: #212121;
}
aside{
    float: left;
    position: fixed;
    background: #2c2c2c;
    width: 18%;
    padding: 1%;
    height: 100vh;
    color: #fff;
    border-right: 1px solid #4d4d4d;
    font-family: "Verdana";
}
.logo_im{
    width: 50px;
    height: 50px;
    color: #cd5c5c;
    margin-bottom: 25px
}

aside .logo{
    font-family: "Tilt Warp";
    font-size: 26px;
    position: relative;
    top: -5px;
}

aside ul{
    list-style: none;
    font-size: 14px;
}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 10px;
    color: #dbdbdb;
    transition: transform .6s ease;
}
aside ul a{
    text-decoration: none;
}
aside ul li:hover, aside ul a:hover{
    /*color: indianred;*/
    transform: scale(1.05);
}
.rightSideWrapper{
    margin-left: 18%;
}
.aside_container{
    display: flex;
    align-items: start;
    border-bottom: 1px solid #4d4d4d;
    padding: 4px;

}
.aside_container h{
    font-size: large;
    margin-left: 4px;
}
.team_triangle{
    margin-left: 6px;
    margin-top: 2px;
}
.team{
    margin-top: 40px;
    margin-bottom: 16px;
}
.ull, .ulli{
    display: none;
}
.team:hover .ull, .projects:hover .ulli{
    display: block;
}
.team:hover .team_triangle i, .projects:hover .team_triangle i{
    transform: rotate(-90deg);
    transition: 0.25s;
}

.head{
    padding: 10px 10px 10px 10px;
    width: 82%;
    border-bottom: 1px solid #4d4d4d;
    color: white;
    position: fixed;
    background: #2c2c2c;
    height: 4rem;
   /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end; */
    display: flex;

    font-family: "Verdana";
}
.userInfo{
    font-size: 16px;
    margin-left: auto;
    margin-right: 0;
    display: -webkit-box;
}
.userIcon{
    margin-left: 4px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #4d4d4d;
    border-radius: 26px;
}
.triangle{
    padding: 10px 0 0 8px;
}
.userMenu{
    display: none;
	top: 100%;
    position: absolute;
}
.userInfo:hover .userMenu{
	display: block;
}
.userInfo:hover .triangle i{
    transform: rotate(-90deg);
    transition: 0.20s;
}
.userMenu li{
    display: block;
    text-align: center;
	text-decoration: none;
	position: relative;
    float: left;
    margin: 0;

    border: 1px solid #4d4d4d;
    border-radius: 4px;
    height: 30px;
    background: #2c2c2c;
    width: 126px;
}
.userMenu li a{
    color: white;
    text-decoration: none;
}

.tasksInfo{
    width: 100%;
}
.tasksText{
    width: 100%;
    height: 50%;
    margin-bottom: 0;
    font-size: 18px;;
}
.hh{
    width: 100%;
    height: 50%;
}
div.hh a {
    display: inline; /* Отображать как строчный элемент */
    color: white;
    padding: 0 2rem 0 0;
    /*border: 1px solid #4d4d4d;*/
}
.homePageText{
    width: 100%;
    height: 50%;
    font-size: 22px;
    margin-top: 6px;
}
.move_to_tasks{
    text-decoration: none;
    color: white;
    font-size: medium;
    border: 1px solid #4d4d4d;
    border-radius: 8px;
    padding: 10px;
    display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 20px

}
.main{
}
.main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
    color: black;
}
form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}
.hello_text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.workspace{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 1.5rem;
}
.user_tasks{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: #2c2c2c;
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    height: 500px;
    width: 600px;
    margin-right: 20px;
    padding: 8px;
}
.tasks_container{
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    height: 420px;
    background: #2c2c2c;
    overflow: scroll;
    scrollbar-width: none;
}
.tasks_container::-webkit-scrollbar {
  display: none;
}
.task_element{
    display: flex;
    justify-content: space-between;
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    height: 3rem;
    font-size: medium;
    padding: 10px;
}
.task_element h{
    margin-left: 4px;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.task_element:hover{
    background: #4d4d4d;
}
.workspace_header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 16px;
}
.tasks_header_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.task_name{
    width: 430px;
    text-align: start;

}
.task_deadline{
    margin-right: 2px;
    padding-left: 6px;
    min-width: 5rem;
    max-width: 5rem;
    align-items: start;
}
.hr{
    list-style-type: none;
    padding: 0;
}
ul.hr li{
    display: inline;
}

.user_projects{
    display: flex;
    flex-direction: column;
    background: #2c2c2c;
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    height: 500px;
    width: 600px;
    padding: 20px;
}
.project_element{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    font-size: larger;
}
.progress_bar_container{
    padding: 16px;
    border-radius: 10px;
    margin-right: 10px;
}
.body_container{
    float: left;
    color: #fff;
    margin-top: 64px;
    text-align: center;
}
.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
    color: white;
    border-bottom: 1px solid #4d4d4d;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}
.table thead{
    border-bottom: 1px solid #4d4d4d;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	border-left: 1px solid #4d4d4d;
	border-right: 1px solid #4d4d4d;
    font-size: medium;
}
.table tbody td {
	text-align: left;
	border: 1px solid #4d4d4d;
	padding: 10px 15px;
	font-size: medium;
	vertical-align: top;
    color: white;
    height: 42px;
}
.table tbody td:hover .pointer{
    display: block;
}
.pointer{
    color: #808080;
    float: right;
    display: none;
    transform: rotate(90deg)
}

.table thead tr th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
.table thead tr th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
.table_name{
    width: 102vh;
}

.single_task_container{
    width: 40%;
    background: grey;
    /*display: none;*/
}

.read-more-state {
  display: none;
}


.read-more-wrap{
    display: none;
}

.read-more-state:checked ~ .read-more-wrap{
    display: block;
}

.read-more-state ~ .read-more-trigger:before {
  transform: rotate(90deg)
}

.read-more-state:checked ~ .read-more-trigger:before {
  transform: rotate(90deg)
}
.read-more-trigger{
    display: flex;
    justify-content: space-between;
}
.read-more-wrap {
    width: 102vh;
    white-space: normal;
}
.qq{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
}
.qq a{
    margin-right: 6px;
    text-decoration: none;
    color: white;
}
.read-more-target{
    border: 1px solid #4d4d4d;
    border-radius: 20px;
    padding: 4px 10px;
}
/* Other style */

.task_update_container{
    float: left;
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 64px;
}
.task_delete_container{
    float: left;
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 64px;
    width: 80%;
}
.form_delete{
    width: 80%;
    margin-top: 6rem;
    margin-left: 6rem;
}
.button_s{
    display: flex;
    justify-content: center;
}